In [1]:
from typing import Optional
import re
import pandas as pd

In [2]:
pd.options.display.max_columns = 30

In [3]:
def read_and_rename(path: str) -> Optional[pd.DataFrame]:
    try:
        df = pd.read_csv(path)
    except(FileNotFoundError):
        print("File does not exists!")
        return None
    
    #basic columns renaming
    rename_mapper = {k:re.sub("[^A-Z|_]", "", k.lower().replace(" ", "_") ,0,re.IGNORECASE) for k in df.columns}
    return df.rename(columns=rename_mapper)

In [4]:
df_brighton = read_and_rename("BrightonPerformanceData.csv")
geo_columns = ['latitude', 'longitude', 'zipcode', 'city']
constants = ['scraped_during_month', 'country_code', 'currency_native']
cols_to_drop = geo_columns + constants
df_brighton = df_brighton.drop(cols_to_drop, axis=1)
# df_joshua = pd.read_csv("JoshuaPerformanceData.csv")
# df_malibu = pd.read_csv("MalibuPerformanceData.csv")

### basic profiling on dataset

```python
# from pydantic_settings import BaseSettings
from ydata_profiling import ProfileReport

#EDA using pandas-profiling
profile = ProfileReport(df_brighton, explorative=True)

#Saving results to a HTML file
profile.to_file("output_brighton.html") 
```

In [5]:
df_brighton['num_reporting_months'] = df_brighton[["airbnb_property_id", "reporting_month"]].groupby("airbnb_property_id").transform("count")


distinct_last_seen = df_brighton.groupby('airbnb_property_id')['last_seen'].nunique()
df_brighton['distinct_last_seen'] = df_brighton['airbnb_property_id'].map(distinct_last_seen)

distinct_reporting_month = df_brighton.groupby('airbnb_property_id')['reporting_month'].nunique()
df_brighton['distinct_reporting_month'] = df_brighton['airbnb_property_id'].map(distinct_reporting_month)

In [6]:
# Convert 'month' column to datetime format
df_brighton['reporting_month'] = pd.to_datetime(df_brighton['reporting_month'])

# Sort the DataFrame by 'id' and 'month'
df_brighton.sort_values(by=['airbnb_property_id', 'reporting_month'], inplace=True)

# Calculate the difference in days between consecutive rows for each 'airbnb_property_id'
df_brighton['diff'] = df_brighton.groupby('airbnb_property_id')['reporting_month'].diff().dt.days
#filling for the first row
df_brighton['diff'] = df_brighton['diff'].fillna(0.)

# Check if the difference is equal to 1 for continuous rows
df_brighton['continuous'] = df_brighton['diff'] <= 31

df_brighton[['airbnb_property_id', 'reporting_month', 'diff', 'continuous', 'num_reporting_months']][df_brighton.continuous == True]

,airbnb_property_id,reporting_month,diff,continuous,num_reporting_months
23507,74819,2022-11-01,0.0,True,12
22179,74819,2022-12-01,30.0,True,12
20740,74819,2023-01-01,31.0,True,12
19052,74819,2023-02-01,31.0,True,12
17150,74819,2023-03-01,28.0,True,12
...,...,...,...,...,...
4991,985326724713973239,2023-09-01,0.0,True,2
2316,985326724713973239,2023-10-01,30.0,True,2
4992,985389662447322939,2023-09-01,0.0,True,2
2317,985389662447322939,2023-10-01,30.0,True,2
2318,986143650561802438,2023-10-01,0.0,True,1

In [7]:
#how many properties has continuous bookings?
df_brighton[['airbnb_property_id', 'continuous']].drop_duplicates().continuous.value_counts()#.groupby("continuous").transform("count")

continuous
True     3928
False     757
Name: count, dtype: int64

In [8]:
df_brighton['computed_bedrooms'] = df_brighton['bedrooms'].replace("Studio", "1").astype("int64")
df_brighton['rank'] = df_brighton['adr_native']/(df_brighton['computed_bedrooms']+ df_brighton['bathrooms'])

In [9]:
df_brighton['mean_rank'] = df_brighton.groupby("airbnb_property_id")['rank'].transform('mean')
df_brighton['mean_adr'] = df_brighton.groupby("airbnb_property_id")['adr_native'].transform('mean')
df_brighton['mean_or'] = df_brighton.groupby("airbnb_property_id")['occupancy_rate'].transform('mean')

In [10]:
pd.options.display.max_rows = 100

In [11]:
distinct_occurences = df_brighton.groupby('reporting_month')['airbnb_property_id'].nunique()
df_brighton['distinct_occurences'] = df_brighton['reporting_month'].map(distinct_occurences)

In [20]:
df_brighton['last_month'] = df_brighton.groupby("airbnb_property_id")['reporting_month'].transform("max")
df_brighton['dead'] = df_brighton['last_month'] + pd.tseries.offsets.DateOffset(months=2) < '2023-10-01'

,property_type,listing_type,bedrooms,bathrooms,airbnb_property_id,airbnb_host_id,last_seen,cleaning_fee,reporting_month,blocked_days,available_days,occupancy_rate,reservation_days,adr_usd,adr_native,number_of_reservation,revenue_usd,revenue_native,next_month_exists
23507,Entire home,entire_home,2,2,74819,394634,2024-01-10,46.0,2022-11,1,30,52.0,13,229,181,8,3345,2643,True
22179,Entire home,entire_home,2,2,74819,394634,2024-01-10,46.0,2022-12,0,31,61.9,16,279,220,9,4878,3854,True
20740,Entire home,entire_home,2,2,74819,394634,2024-01-10,46.0,2023-01,0,31,100.0,31,255,201,5,8135,6427,True
19052,Entire home,entire_home,2,2,74819,394634,2024-01-10,46.0,2023-02,3,28,100.0,28,225,178,5,6530,5159,True
17150,Entire home,entire_home,2,2,74819,394634,2024-01-10,46.0,2023-03,4,27,100.0,24,230,182,8,5888,4652,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4991,Entire rental unit,entire_home,2,2,985326724713973239,107736029,2024-01-03,NaN,2023-09,28,3,80.0,2,146,115,0,292,231,True
2316,Entire rental unit,entire_home,2,2,985326724713973239,107736029,2024-01-03,NaN,2023-10,0,31,54.2,14,147,116,3,2058,1626,False
4992,Entire rental unit,entire_home,1,1,985389662447322939,538216244,2023-11-29,NaN,2023-09,28,3,80.0,2,238,188,0,476,376,True
2317,Entire rental unit,entire_home,1,1,985389662447322939,538216244,2023-11-29,NaN,2023-10,0,31,31.0,8,160,126,3,1280,1011,False
2318,Entire rental unit,entire_home,1,1,986143650561802438,230359175,2024-01-03,NaN,2023-10,0,31,27.1,7,101,80,1,707,559,False

,property_type,listing_type,bedrooms,bathrooms,airbnb_property_id,airbnb_host_id,last_seen,cleaning_fee,reporting_month,blocked_days,available_days,occupancy_rate,reservation_days,adr_usd,adr_native,number_of_reservation,revenue_usd,revenue_native,next_reporting_month,next_month_exists
23507,Entire home,entire_home,2,2,74819,394634,2024-01-10,46.0,2022-11,1,30,52.0,13,229,181,8,3345,2643,2022-12,True
22179,Entire home,entire_home,2,2,74819,394634,2024-01-10,46.0,2022-12,0,31,61.9,16,279,220,9,4878,3854,2023-01,True
20740,Entire home,entire_home,2,2,74819,394634,2024-01-10,46.0,2023-01,0,31,100.0,31,255,201,5,8135,6427,2023-02,True
19052,Entire home,entire_home,2,2,74819,394634,2024-01-10,46.0,2023-02,3,28,100.0,28,225,178,5,6530,5159,2023-03,True
17150,Entire home,entire_home,2,2,74819,394634,2024-01-10,46.0,2023-03,4,27,100.0,24,230,182,8,5888,4652,2023-04,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4991,Entire rental unit,entire_home,2,2,985326724713973239,107736029,2024-01-03,NaN,2023-09,28,3,80.0,2,146,115,0,292,231,2023-10,True
2316,Entire rental unit,entire_home,2,2,985326724713973239,107736029,2024-01-03,NaN,2023-10,0,31,54.2,14,147,116,3,2058,1626,NaN,False
4992,Entire rental unit,entire_home,1,1,985389662447322939,538216244,2023-11-29,NaN,2023-09,28,3,80.0,2,238,188,0,476,376,2023-10,True
2317,Entire rental unit,entire_home,1,1,985389662447322939,538216244,2023-11-29,NaN,2023-10,0,31,31.0,8,160,126,3,1280,1011,NaN,False
2318,Entire rental unit,entire_home,1,1,986143650561802438,230359175,2024-01-03,NaN,2023-10,0,31,27.1,7,101,80,1,707,559,NaN,False

In [37]:
# df_brighton[(df_brighton.reporting_month != '2023-10-01') & (df_brighton.next_month_exists == False) ]\
df_brighton.sort_values(by=['airbnb_property_id', 'reporting_month'])[['airbnb_property_id', 'continuous', 'reporting_month', 'next_reporting_month', 'next_month_exists']].head(50)

,airbnb_property_id,continuous,reporting_month,next_reporting_month,next_month_exists
23507,74819,True,2022-11-01,2022-12-01,True
22179,74819,True,2022-12-01,2023-01-01,True
20740,74819,True,2023-01-01,2023-02-01,True
19052,74819,True,2023-02-01,2023-03-01,True
17150,74819,True,2023-03-01,2023-04-01,True
15152,74819,True,2023-04-01,2023-05-01,True
13135,74819,True,2023-05-01,2023-06-01,True
10745,74819,True,2023-06-01,2023-07-01,True
8209,74819,True,2023-07-01,2023-08-01,True
4993,74819,True,2023-08-01,2023-09-01,True
2319,74819,True,2023-09-01,2023-10-01,True
0,74819,True,2023-10-01,NaT,False
17151,98654,True,2023-03-01,2023-07-01,True
8210,98654,False,2023-07-01,2023-08-01,True
4994,98654,True,2023-08-01,NaT,False
8211,146850,True,2023-07-01,NaT,False
13136,230787,True,2023-05-01,2023-06-01,True
10746,230787,True,2023-06-01,2023-07-01,True
8212,230787,True,2023-07-01,2023-08-01,True
4995,230787,True,2023-08-01,2023-09-01,True
2320,230787,True,2023-09-01,2023-10-01,True
1,230787,True,2023-10-01,NaT,False
23508,280982,True,2022-11-01,2022-12-01,True
22180,280982,True,2022-12-01,2023-01-01,True
20741,280982,True,2023-01-01,2023-02-01,True
19053,280982,True,2023-02-01,2023-03-01,True
17152,280982,True,2023-03-01,2023-04-01,True
15153,280982,True,2023-04-01,2023-05-01,True
13137,280982,True,2023-05-01,2023-06-01,True
10747,280982,True,2023-06-01,2023-07-01,True
8213,280982,True,2023-07-01,2023-08-01,True
4996,280982,True,2023-08-01,2023-09-01,True
2321,280982,True,2023-09-01,2023-10-01,True
2,280982,True,2023-10-01,NaT,False
23509,282004,True,2022-11-01,2022-12-01,True
22181,282004,True,2022-12-01,2023-01-01,True
20742,282004,True,2023-01-01,2023-02-01,True
19054,282004,True,2023-02-01,2023-03-01,True
17153,282004,True,2023-03-01,2023-04-01,True
15154,282004,True,2023-04-01,2023-05-01,True
13138,282004,True,2023-05-01,2023-06-01,True
10748,282004,True,2023-06-01,2023-07-01,True
8214,282004,True,2023-07-01,2023-08-01,True
4997,282004,True,2023-08-01,2023-09-01,True
2322,282004,True,2023-09-01,2023-10-01,True
3,282004,True,2023-10-01,NaT,False
4998,301663,True,2023-08-01,NaT,False
23510,330733,True,2022-11-01,2022-12-01,True
22182,330733,True,2022-12-01,NaT,False
23511,338466,True,2022-11-01,2022-12-01,True

In [21]:
df_brighton[df_brighton.dead == True][['airbnb_property_id', 'last_month']].drop_duplicates().last_month.value_counts()

last_month
2023-07-01    127
2023-06-01     59
2023-05-01     55
2023-04-01     55
2023-01-01     53
2023-03-01     46
2022-12-01     36
2022-11-01     32
2023-02-01     29
Name: count, dtype: int64

In [28]:
df_brighton.sort_values(by=['airbnb_property_id','reporting_month'])[['airbnb_property_id','reporting_month', 'dead']].head(100)

       airbnb_property_id reporting_month   dead
23507               74819      2022-11-01  False
22179               74819      2022-12-01  False
20740               74819      2023-01-01  False
19052               74819      2023-02-01  False
17150               74819      2023-03-01  False
15152               74819      2023-04-01  False
13135               74819      2023-05-01  False
10745               74819      2023-06-01  False
8209                74819      2023-07-01  False
4993                74819      2023-08-01  False
2319                74819      2023-09-01  False
0                   74819      2023-10-01  False
17151               98654      2023-03-01   True
8210                98654      2023-07-01   True
4994                98654      2023-08-01   True
8211               146850      2023-07-01   True
13136              230787      2023-05-01  False
10746              230787      2023-06-01  False
8212               230787      2023-07-01  False
4995               230787      2023-08-01  False
2320               230787      2023-09-01  False
1                  230787      2023-10-01  False
23508              280982      2022-11-01  False
22180              280982      2022-12-01  False
20741              280982      2023-01-01  False
19053              280982      2023-02-01  False
17152              280982      2023-03-01  False
15153              280982      2023-04-01  False
13137              280982      2023-05-01  False
10747              280982      2023-06-01  False
8213               280982      2023-07-01  False
4996               280982      2023-08-01  False
2321               280982      2023-09-01  False
2                  280982      2023-10-01  False
23509              282004      2022-11-01  False
22181              282004      2022-12-01  False
20742              282004      2023-01-01  False
19054              282004      2023-02-01  False
17153              282004      2023-03-01  False
15154              282004      2023-04-01  False
13138              282004      2023-05-01  False
10748              282004      2023-06-01  False
8214               282004      2023-07-01  False
4997               282004      2023-08-01  False
2322               282004      2023-09-01  False
3                  282004      2023-10-01  False
4998               301663      2023-08-01   True
23510              330733      2022-11-01   True
22182              330733      2022-12-01   True
23511              338466      2022-11-01  False
22183              338466      2022-12-01  False
20743              338466      2023-01-01  False
19055              338466      2023-02-01  False
17154              338466      2023-03-01  False
15155              338466      2023-04-01  False
13139              338466      2023-05-01  False
10749              338466      2023-06-01  False
8215               338466      2023-07-01  False
4999               338466      2023-08-01  False
2323               338466      2023-09-01  False
4                  338466      2023-10-01  False
23512              339054      2022-11-01  False
22184              339054      2022-12-01  False
20744              339054      2023-01-01  False
19056              339054      2023-02-01  False
17155              339054      2023-03-01  False
15156              339054      2023-04-01  False
13140              339054      2023-05-01  False
10750              339054      2023-06-01  False
8216               339054      2023-07-01  False
5000               339054      2023-08-01  False
2324               339054      2023-09-01  False
5                  339054      2023-10-01  False
5001               380924      2023-08-01  False
2325               380924      2023-09-01  False
6                  380924      2023-10-01  False
23513              391256      2022-11-01   True
22185              391256      2022-12-01   True
20745              391256      2023-01-01   True
19057              391256      2023-02-01   True
17156              391256      2023-03-01   True
15157              391256      2023-04-01   True
13141              391256      2023-05-01   True
10751              391256      2023-06-01   True
8217               391256      2023-07-01   True
5002               391256      2023-08-01   True
2326               391256      2023-09-01   True
20746              449558      2023-01-01   True
19058              449558      2023-02-01   True
17157              449558      2023-03-01   True
15158              449558      2023-04-01   True
13142              449558      2023-05-01   True
23514              478625      2022-11-01  False
22186              478625      2022-12-01  False
20747              478625      2023-01-01  False
19059              478625      2023-02-01  False
17158              478625      2023-03-01  False
15159              478625      2023-04-01  False
13143              478625      2023-05-01  False
10752              478625      2023-06-01  False

In [189]:
df_brighton[['reporting_month', 'distinct_occurences']].drop_duplicates().sort_values(by='reporting_month').head(100)

      reporting_month  distinct_occurences
23507      2022-11-01                 1342
22179      2022-12-01                 1328
20740      2023-01-01                 1439
19052      2023-02-01                 1688
17150      2023-03-01                 1902
15152      2023-04-01                 1998
13135      2023-05-01                 2017
10745      2023-06-01                 2390
8209       2023-07-01                 2536
4993       2023-08-01                 3216
2319       2023-09-01                 2674
0          2023-10-01                 2319

In [184]:
df_brighton.groupby("reporting_month")['airbnb_property_id'].transform('count')

23507    1342
22179    1328
20740    1439
19052    1688
17150    1902
         ...
4991     2674
2316     2319
4992     2674
2317     2319
2318     2319
Name: airbnb_property_id, Length: 24849, dtype: int64

In [181]:
df_brighton[['airbnb_property_id', 'property_type','bedrooms','bathrooms','mean_rank','mean_adr', 'mean_or', 'distinct_reporting_month', 'continuous','last_seen']]\
    .drop_duplicates().sort_values(by='mean_rank', ascending=False).head(100)

,airbnb_property_id,property_type,bedrooms,bathrooms,mean_rank,mean_adr,mean_or,distinct_reporting_month,continuous,last_seen
23948,23936388,Entire guest suite,Studio,1,279.785714,559.571429,47.657143,7,True,2023-03-16
11300,23936388,Entire guest suite,Studio,1,279.785714,559.571429,47.657143,7,False,2023-03-16
15272,5087973,Entire townhouse,1,1,265.785714,531.571429,62.400000,7,False,2024-01-10
23613,5087973,Entire townhouse,1,1,265.785714,531.571429,62.400000,7,True,2024-01-10
10327,723865952947832147,Entire condo,1,1,257.375000,514.750000,53.300000,4,True,2024-01-03
24727,51833929,Entire home,3,2,218.472727,1092.363636,51.072727,11,True,2024-01-03
3705,51833929,Entire home,3,2,218.472727,1092.363636,51.072727,11,False,2024-01-03
2268,957952560777806390,Entire rental unit,2,1,211.333333,634.000000,78.300000,1,True,2023-11-16
24724,51833680,Entire home,1,1,210.750000,421.500000,33.000000,2,True,2024-01-03
3704,51833829,Entire rental unit,1,1,199.318182,398.636364,36.909091,11,False,2024-01-03
24725,51833829,Entire rental unit,1,1,199.318182,398.636364,36.909091,11,True,2024-01-03
24446,46231545,Room in boutique hotel,1,1,195.166667,390.333333,47.866667,12,True,2024-01-03
24728,51833984,Entire home,3,2,194.880000,974.400000,40.970000,10,True,2024-01-03
3706,51833984,Entire home,3,2,194.880000,974.400000,40.970000,10,False,2024-01-03
23928,22543520,Entire home,1,1,194.681818,389.363636,75.254545,11,True,2024-01-10
467,22543520,Entire home,1,1,194.681818,389.363636,75.254545,11,False,2024-01-10
6225,44755941,Room in hotel,1,1,192.000000,384.000000,100.000000,1,True,2023-06-28
24722,51833626,Entire rental unit,1,1,189.208333,378.416667,44.841667,12,True,2024-01-03
24449,46387147,Entire home,4,2,188.166667,1129.000000,39.475000,12,True,2024-01-03
20287,546841302600440056,Entire rental unit,2,1,185.666667,557.000000,67.111111,9,True,2024-01-03
6659,51833702,Entire rental unit,2,1,178.333333,535.000000,40.000000,1,True,2023-12-06
23995,25709920,Entire apartment,1,1,177.444444,354.888889,61.200000,9,True,2024-01-03
15713,25709920,Entire apartment,1,1,177.444444,354.888889,61.200000,9,False,2024-01-03
12585,660698109503374029,Entire home,2,2,175.562500,702.250000,24.800000,4,False,2023-11-22
20497,660698109503374029,Entire home,2,2,175.562500,702.250000,24.800000,4,True,2023-11-22
23900,21289331,Entire townhouse,3,3,173.090909,1038.545455,65.536364,11,True,2024-01-10
19436,21289331,Entire townhouse,3,3,173.090909,1038.545455,65.536364,11,False,2024-01-10
8201,954919338361926066,Entire home/apt,0,1,172.333333,172.333333,39.466667,3,True,2024-01-03
23812,17146444,Entire serviced apartment,1,1,167.333333,334.666667,30.575000,12,True,2024-01-10
14191,46230316,Room in boutique hotel,1,1,167.181818,334.363636,38.727273,11,False,2024-01-03
24444,46230316,Room in boutique hotel,1,1,167.181818,334.363636,38.727273,11,True,2024-01-03
12970,848850201083151860,Entire rental unit,1,1,166.900000,333.800000,75.940000,5,True,2024-01-03
10027,618529408037454100,Entire home,4,2,166.222222,997.333333,80.400000,3,True,2024-01-03
1436,618529408037454100,Entire home,4,2,166.222222,997.333333,80.400000,3,False,2024-01-03
14192,46230452,Room in boutique hotel,1,1,166.045455,332.090909,35.236364,11,False,2024-01-03
24445,46230452,Room in boutique hotel,1,1,166.045455,332.090909,35.236364,11,True,2024-01-03
12177,51833667,Entire home,2,1,165.800000,497.400000,83.310000,10,False,2024-01-03
24723,51833667,Entire home,2,1,165.800000,497.400000,83.310000,10,True,2024-01-03
24431,45632042,Entire rental unit,1,0,164.181818,164.181818,49.563636,11,True,2024-01-03
18703,630654974643057741,Entire home,5,3,163.218750,1305.750000,28.500000,8,True,2024-01-03
4952,955135328524185409,Entire home,3,4,160.785714,1125.500000,47.550000,2,True,2024-01-03
23606,4223072,Private room in guest suite,1,1,159.833333,319.666667,63.183333,12,True,2024-01-10
4090,660692010505034644,Entire home,2,1,159.500000,478.500000,92.600000,2,True,2024-01-03
24519,49070999,Room in boutique hotel,1,1,156.583333,313.166667,39.158333,12,True,2024-01-03
8071,929075312051549956,Private room in rental unit,1,0,156.000000,156.000000,30.000000,1,True,2023-08-02
21996,546840314303444435,Entire home,3,2,155.880000,779.400000,50.210000,10,True,2024-01-03
8122,939084323065387159,Camper/RV,1,0,153.000000,153.000000,28.000000,2,True,2023-09-06
8073,929587632202467733,Entire rental unit,1,0,152.000000,152.000000,54.633333,3,True,2023-10-26
13028,866417936002532537,Entire home,5,3,150.625000,1205.000000,81.066667,3,True,2023-09-20
7983,914171142377072756,Entire cottage,2,1,149.666667,449.000000,26.700000,3,True,2024-01-03
9884,551918372238206331,Entire home,3,2,148.033333,740.166667,10.533333,6,False,2023-11-09
18541,551918372238206331,Entire home,3,2,148.033333,740.166667,10.533333,6,True,2023-11-09
23683,9708699,Private room in home,1,1,143.500000,287.000000,0.000000,1,True,2022-08-10
24200,37100138,Entire home,2,1,141.000000,423.000000,57.616667,12,True,2024-01-03
6873,580121013097254883,Entire home,3,3,140.571429,843.428571,49.485714,7,False,2024-01-03
20328,580121013097254883,Entire home,3,3,140.571429,843.428571,49.485714,7,True,2024-01-03
23745,14055076,Entire home,6,5,137.825758,1516.083333,93.175000,12,True,2024-01-10
24726,51833912,Entire home,3,2,137.657143,688.285714,59.442857,7,True,2024-01-03
1207,51833912,Entire home,3,2,137.657143,688.285714,59.442857,7,False,2024-01-03
24297,41371009,Entire serviced apartment,1,1,135.863636,271.727273,48.863636,11,True,2024-01-03
23720,12864815,Entire rental unit,3,2,134.933333,674.666667,27.891667,12,True,2024-01-10
23804,16551845,Entire townhouse,3,2,134.375000,671.875000,43.887500,8,True,2024-01-10
17494,16551845,Entire townhouse,3,2,134.375000,671.875000,43.887500,8,False,2024-01-10
1641,724370423108425349,Entire home,3,2,129.000000,645.000000,34.800000,1,True,2024-01-03
16959,689929015887581581,Private room in condo,1,2,128.800000,386.400000,49.780000,5,True,2023-04-19
12802,762218163490802819,Entire home,3,1,128.050000,512.200000,13.040000,5,True,2024-01-03
23930,22711925,Entire home,5,4,127.675926,1149.083333,42.541667,12,True,2024-01-03
6767,53668343,Entire rental unit,3,1,126.750000,507.000000,90.000000,1,True,2023-03-08
17177,807048,Entire apartment,5,4,126.500000,1138.500000,62.500000,6,True,2023-06-28
8010,918424625242676745,Camper/RV,1,0,126.000000,126.000000,60.000000,1,True,2023-08-02
12356,577239773552328482,Entire rental unit,1,1,125.833333,251.666667,85.000000,3,True,2023-08-30
24521,49072240,Room in boutique hotel,1,1,122.166667,244.333333,39.650000,12,True,2024-01-03
23739,13882510,Entire rental unit,3,2,122.016667,610.083333,23.150000,12,True,2024-01-10
19557,27445925,Entire rental unit,3,1,121.593750,486.375000,80.000000,8,False,2024-01-03
24038,27445925,Entire rental unit,3,1,121.593750,486.375000,80.000000,8,True,2024-01-03
17978,40481931,Private room in townhouse,1,1,120.250000,240.500000,44.000000,2,True,2023-12-13
21374,34109598,Tiny home,0,1,120.125000,120.125000,50.212500,8,True,2024-01-03
9916,575049923075654992,Entire rental unit,2,1,119.333333,358.000000,5.700000,2,True,2023-05-31
11513,32921785,Entire rental unit,Studio,1,118.333333,236.666667,58.700000,3,True,2024-01-03
20288,546842549960202057,Entire home,2,1,117.777778,353.333333,42.166667,3,True,2023-11-29
24090,30832143,Entire home,2,1,117.000000,351.000000,0.000000,1,True,2022-09-28
17216,2219119,Entire home,4,3,116.678571,816.750000,60.362500,8,False,2024-01-10
22239,2219119,Entire home,4,3,116.678571,816.750000,60.362500,8,True,2024-01-10
11193,18752564,Entire home,Studio,3,116.650000,466.600000,39.620000,5,True,2024-01-10
7081,647041084265641197,Entire condo,2,1,116.000000,348.000000,90.000000,1,True,2023-06-14
9235,41372193,Entire serviced apartment,1,1,115.944444,231.888889,31.477778,9,False,2024-01-03
24301,41372193,Entire serviced apartment,1,1,115.944444,231.888889,31.477778,9,True,2024-01-03
18155,47349547,Entire townhouse,5,4,115.571429,1040.142857,19.128571,7,False,2022-10-19
23146,47349547,Entire townhouse,5,4,115.571429,1040.142857,19.128571,7,True,2022-10-19
23798,16104950,Entire home,4,3,114.702381,802.916667,31.608333,12,True,2024-01-10
15003,708396897147398585,Entire rental unit,2,1,114.500000,343.500000,65.000000,2,True,2023-05-17
7292,708396897147398585,Entire rental unit,2,1,114.500000,343.500000,65.000000,2,False,2023-05-17
23997,25766403,Entire rental unit,4,3,113.761905,796.333333,25.633333,12,True,2024-01-03
23654,7625252,Entire townhouse,4,2,113.590909,681.545455,24.772727,11,True,2024-01-10
12328,556274429321310653,Entire rental unit,2,1,112.500000,337.500000,29.500000,4,True,2023-09-13
24529,49222329,Private room in loft,1,1,112.333333,224.666667,33.916667,12,True,2024-01-03
8056,925371387293135999,Entire rental unit,1,1,112.000000,224.000000,78.600000,1,True,2023-09-13
20564,690936738963475017,Entire serviced apartment,1,1,111.714286,223.428571,87.657143,7,True,2024-01-03
9325,44528141,Entire rental unit,1,1,111.500000,223.000000,25.000000,2,True,2023-08-16
24298,41371051,Entire serviced apartment,1,1,111.055556,222.111111,44.911111,9,True,2024-01-03